.journalSection {
  display: flex;
}

#dropDownSection {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.drop {
  display: flex;
  padding: 5px 5px 0px 5px;
}

.formContainer {
  display: flex;
  justify-content: center;
  background-color: none;
  margin-bottom: 12px;
  flex-direction: row;
}

.formArticle {
  display: flex;
  padding: 10px 10px 10px 10px;
}

#equipListTitle {
  font-family: 'Montserrat', sans-serif;
  margin-left: 25px;
}

#showEquipList {
  font-family: 'Montserrat', sans-serif;
  list-style: inside;
  overflow: scroll;
  max-height: 310px;
}

.listArticle {
  display: flex;
  flex-direction: column;
  background-color: #d0fe90;
  padding: 10px 10px 10px 10px;
}

#clearAll {
  display: flex;
  justify-content: center;
}

#past-lists {
  font-family: 'Montserrat', sans-serif;
}

legend {
  display: flex;
  font-size: 18px;
  margin-bottom: 7px;
  background-color: none;
}

.formLabel {
  width: 300px;
  margin-top: 8px;
  margin-bottom: 5px;
  background-color: none;
  font-family: 'Montserrat', sans-serif;

}

.formField {
  display: flex;
  width: 460px;
  background-color: none;
  margin-bottom: 18px;
}

label {
  font-family: 'Montserrat', sans-serif;
}

#journalEntries {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
