body {
  margin: 0;
}

/*HEADER*/

header {
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px 0px;
  margin: -15px;
}

#headerLogo {
  display: flex;
  align-self: center;
}

/*NAV BAR*/

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: none;
  padding: 0px 10px 10px 10px;
  margin: 10px 10px -35px 10px;
}

nav ul {
  display: flex;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  background-color: none;
}

nav ul li {
  display: flex;
  list-style: none;
  background-color: none;
  margin: 10px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
}

nav ul li a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  background-color: none;
}

/* HOMEPAGE IMAGE SLIDER*/

@keyframes slidy {
0%  { left: 0%; }
5%  { left: 0%; }
10% { left: 0%; }
15% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
30% { left: -100%; }
35% { left: -100%; }
40% { left: -100%; }
45% { left: -200%; }
50% { left: -200%; }
55% { left: -200%; }
60% { left: -200%; }
65% { left: -300%; }
70% { left: -300%; }
75% { left: -300%; }
80% { left: -300%; }
85% { left: -400%; }
90% { left: -400%; }
95% { left: -400%; }
100% { left: -400%; }
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: -150px 0px 0px 0px;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

/*EQUIP PAGE*/

#bigFlex {
  display: flex;
  justify-content: center;
}

#equipContent {
  flex-direction: column;
}

#tripNames {
  display: flex;
  justify-content: center;
}

#tripName {
}

#activities, #weather, #duration {
  display: flex;
  justify-content: center;
}

.icons {
    padding: 20px 30px 20px 30px;
    cursor: pointer;
}

#finalList {
  display: flex;
  justify-content: center;
}

#loadList {
  display: flex;
  flex-direction: column;
  list-style: square;
}

#buttonList {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#buttons {
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

#results {
  font-family: 'Montserrat', sans-serif;
}

.buttons {
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
}

#results:hover {
  cursor: pointer;
}

#buttonSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cButton {
  display: flex;
  padding: 0px 5px 0px 5px;
}

.sButton {
  display: flex;
  padding: 0px 5px 0px 5px;
}

/*RESOURCES PAGE*/

.container {
  display: flex;
  justify-content: center;
}

#productResources {
  /*display: flex;*/
  padding: 10px 20px 10px 20px;
}

#productResources img {
}

/*ABOUT PAGE*/

.bioContainer {
  display: flex;
  margin: 10px 0px 10px 0px;
  padding: 0px 10px 10px 10px;
  background-color: white;
}

#biographies {
  justify-content: center;
  padding: 0px 10px 10px 10px;
  background-color: white;

}

#aboutSection {
  flex-direction: column;
  background-color: white;
  padding: 0px 10px 10px 10px;
}

#bios {
  display: flex;
  flex-direction: row;
  padding: 0px 10px 40px 10px;
  width: auto;
  height: 200px;
  background-color: white;
  justify-content: center;
}

#biopic {
}

#bioborder {
  border: 1px dashed #C9CCC9;
  width: 70%;
  overflow: scroll;
}

#bioname {
  padding: 10px 20px 0px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#biotext {
  padding: 5px 20px 0px 20px;
  font-family: 'Montserrat', sans-serif;
}

#tweetflex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: flex-start;
}

#tweets {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
}

#tweetfeed {
  display: inline-flex;
}

.twitter-timeline {
  display: flex;
  text-align: center;
}

/*#finalList {
  display: flex;
  justify-content: center;
}*/

/*FORUM*/

#journal {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  margin: 20px 20px 20px 20px;
}
