/*this is where our css will go*/
body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px 0px;
  margin: -15px;
}

#headerLogo {
  display: flex;
  align-self: center;
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: none;
  padding: 0px 10px 10px 10px;
  margin: 10px 10px 0px 10px;
}

nav ul {
  display: flex;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  background-color: none;
}

nav ul li {
  display: flex;
  list-style: none;
  background-color: none;
  margin: 10px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
}

nav ul li a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  background-color: none;
}


/*SLIDER*/

@keyframes slidy {
0%  { left: 0%; }
5%  { left: 0%; }
10% { left: 0%; }
15% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
30% { left: -100%; }
35% { left: -100%; }
40% { left: -100%; }
45% { left: -200%; }
50% { left: -200%; }
55% { left: -200%; }
60% { left: -200%; }
65% { left: -300%; }
70% { left: -300%; }
75% { left: -300%; }
80% { left: -300%; }
85% { left: -400%; }
90% { left: -400%; }
95% { left: -400%; }
100% { left: -400%; }
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: -50px 0px 0px 0px;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

/*EQUIP PAGE*/

#activities, #weather, #duration {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icons {
    padding: 20px 30px 20px 30px;
    cursor: pointer;
}

#button {
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

#results {
  font-family: 'Montserrat', sans-serif;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
}

#results:hover {
  cursor: pointer;
}

/*ABOUT PAGE*/

#homepagecontent {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0px 20px 20px 20px;
}

#missionStatementSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 1px dashed #C9CCC9;
  padding: 0px 0px 20px 0px;
}

#missionStatementHeader {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 20px 0px 20px;
}

#missionStatement {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  padding: 0px 10px 0px 20px;
}

#holyBios {
  display: flex;
  flex-direction: row;
}

#biographies {
  display: flex;
  justify-content: center;
  margin: 0px 20px 20px 20px;
}

#aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#bios {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 20px 0px;
  width: 100%;
  height: auto;
}

#biopic {
width: 250px;
height: 250px;
}

#bioborder {
  border: 1px dashed #C9CCC9;
  width: 100%;
}

#bioname {
  padding: 10px 20px 0px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#biotext {
  padding: 5px 20px 20px 20px;
  font-family: 'Montserrat', sans-serif;
}
