/*this is where our css will go*/

#activities, #weather, #duration {
  display: flex;
  justify-content: center;
  flex-direction: row;
}





#button {
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}
#results {
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
}
#results:hover {
  transition-duration: 0.5s;
  background-color: black;
  color: #CACDCE;
